.slider-item {
  outline: none !important;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media all and (min-width: 550px) {
  .mobile-img {
    display: none !important;
  }
}

@media all and (max-width: 550px) {
  .desktop-img {
    display: none !important;
  }
}
