@font-face {
  font-family: "Proxima-Nova Regular";
  src: url("fonts/proxima_nova/ProximaNova-Regular.ttf");
}

@font-face {
  font-family: "Proxima-Nova Bold";
  src: url("fonts/proxima_nova/ProximaNova-Bold.ttf");
}

@font-face {
  font-family: "Proxima-Nova Semibold";
  src: url("fonts/proxima_nova/ProximaNova-Semibold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Proxima-Nova Regular";
}

*::selection {
  background: #51267d;
  color: white;
}

body {
  overflow-x: hidden !important;
  background: #f6f6f6 !important;
}

.btn {
  box-shadow: none !important;
}

.slick-prev::before {
  content: "" !important;
}

.slick-next::before {
  content: "" !important;
}

.flag-dropdown {
  display: none !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #51267d;
  border-radius: 12px;
}

.owl-prev {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 19%;
  margin-left: -25px;
  display: block !important;
  border: 0px solid black;
}

.owl-next {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 19%;
  right: -30px;
  display: block !important;
  border: 0px solid black;
}

.active-cat-slider-item {
  background: #51267d !important;
  color: white !important;
}
